#Ignore Files With Secret Keys
charterboats.py

#Ignore Mail Files Until It Is Cleaned Up ;)
main.py

#ignore Log Files
app.log

#Ignore VirtualEnv Packages And PyCache
charterboatsenv/
__pycache__/

#Instead Provide requirements.txt
!charterboatsenv/requirements.txt

#Ignore Static Images, Videos, GIFs etc.
static/images/
static/videos/
