{% extends "temp.html" %}
{% block css_title %}mediat{% endblock %}
{% block title %} {{args['mediat']["header"]}} {% endblock %}
{% block description %}Nautical Escapes 2021 Crew Gallery Page{% endblock %}
{% block other_scripts %}
<link rel="stylesheet" href="{{ url_for('static', filename='res/css/hero.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='res/css/photopile.css') }}">
<script src="{{ url_for('static', filename='res/js/sitemap.js') }}"></script>
<script src="{{ url_for('static', filename='res/js/lcs_ig.js') }}"></script>
<script src="{{ url_for('static', filename='res/js/media.js') }}"></script>
<script src="{{ url_for('static', filename='res/js/photopile.js') }}"></script>
<script src="{{ url_for('static', filename='res/js/dragscroll.js') }}"></script>
{% endblock %}
{% block hard_check %}{% include "navbar_hard.html" %}{% endblock %}
{% block onload %}onload="loadCustomSelect()"{% endblock %}
{% block content %}
<div class="contact_hero">
	<img src="{{ url_for('static', filename='images/media/') }}{{ args['mediat']['header'] }}/{{ args['mediat']['content'][0] }}" alt="Lynn+Brian inside of a heart drawn in the sand">
	<div class="contact_hero_info">
		<h2 style="text-transform: capitalize;">{{ args['mediat']["header"] }}</h2>
		<div class="info_box">
			<p>Music cranked, sun shining, coffee in hand and we are in our happy place, on our flybridge driving "Our Song"</p>
		</div>
	</div>
</div>
<div class="content">
	<div class="infobox_cont">
		<div class="infobox">
			<div class="infobox_text">
				<span class="title4">Our Favourites</span>
				<p>Our most cherished pictures of the Nautical Escapes Crew.</p>
			</div>
			<div class="infobox_slideshow">
				<div class="polar">
					<img src="{{ url_for('static', filename='images/media/crew/5FullSizeRender.jpeg') }}" alt="Lynn and brian sitting in their seats on an airplane.">
					<span><i>Two-Of-Us</i></span>
				</div>
				<div class="polar">
					<img src="{{ url_for('static', filename='images/media/crew/19ITHB5933.JPG') }}" alt="Lynn and brain sitting ontop of their boat">
					<span><i>Lunch</i></span>
				</div>
				<div class="polar">
					<img src="{{ url_for('static', filename='images/media/crew/15IMG_3482.JPG') }}" alt="Bitmoji picture of lynn and brian in front of their boat">
					<span><i>Cartoon Us!</i></span>
				</div>
			</div>
		</div>
		<div class="infobox">
			<div class="infobox_text">
				<span class="title4">Crew Family</span>
				<p>Over the years we have been blessed with many visits, by both family and friends. They all help out to one extent or another, we love to share our wonderful life on the water.</p>
			</div>
			<div class="infobox_slideshow">
				<div class="polar">
					<img src="{{ url_for('static', filename='images/media/crew/crewfam.jpg') }}" alt="family picture from lynn and brians wedding">
					<span><i>Our Children</i></span>
				</div>
				<div class="polar">
					<img src="{{ url_for('static', filename='images/media/crew/020170721_172139-1.JPG') }}" alt="lynn and friend on the front of the boat">
					<span><i>Up Front</i></span>
				</div>
				<div class="polar">
					<img src="{{ url_for('static', filename='images/media/crew/12IMG_2272.JPG') }}" alt="A happy couple sitting at a picnic table">
					<span><i>Two-Of-Them</i></span>
				</div>
			</div>
		</div>
	</div>
	<div class="images">
		<div class="imageviewer_cont"><div class="imageviewer"></div><img src="{{ url_for('static', filename='images/icons/x-icons/whitex.png') }}" class="icon_cont invisible"></div>
		<span class="title4">All Images</span>
		<p class="subheading">Check out all of our images below, and if you just can't get enough of the fantastic {{ args['mediat']['header'] }} pictures, follow us on Instagram, Facebook, and subscribe to our Youtube Channel.</p>
		<!--
		<button onclick="rimages()" class="button_white">Images Only</button>
		<button onclick="rgifs()" class="button_white">Gifs Only</button>
		-->
		<div class="image_slides" id="image_slides">
		{% for item in args['mediat']["content"] %}
			<div class="slidebox">
				<img class="trgimg lazys" src="{{ url_for('static', filename='images/fallback.png') }}" data-src="{{ url_for('static', filename='images/media/') }}{{ args['mediat']['header'] }}/{{item}}" onclick="imgfs(this)" id="{{ loop.index }}" alt="{{ args['mediat']['header'] }}">
			</div>
		{% endfor %}
		</div>
		<div class="blownup_nav" onmousemove="hovScroll(event.clientX)" onmouseleave="stopProp()">
			{% for item in args['mediat']["content"] %}
				<img data-src="{{ url_for('static', filename='images/media/') }}{{ args['mediat']['header'] }}/{{item}}" onclick="both(document.getElementById({{loop.index}}))">
			{% endfor %}
		</div>
	</div>
	<div class="video_cont">
	</div>
	<div class="other_videos">
	</div>
</div>
{% endblock %}
