{% extends "temp.html" %}
{% block css_title %}mediat{% endblock %}
{% block title %} {{args['mediat']["header"]}} {% endblock %}
{% block description %}Nautical Escapes 2021 Sunsets Gallery Page{% endblock %}
{% block other_scripts %}
<link rel="stylesheet" href="{{ url_for('static', filename='res/css/hero.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='res/css/photopile.css') }}">
<script src="{{ url_for('static', filename='res/js/sitemap.js') }}"></script>
<script src="{{ url_for('static', filename='res/js/lcs_ig.js') }}"></script>
<script src="{{ url_for('static', filename='res/js/media.js') }}"></script>
<script src="{{ url_for('static', filename='res/js/photopile.js') }}"></script>
<script src="{{ url_for('static', filename='res/js/dragscroll.js') }}"></script>
{% endblock %}
{% block hard_check %}{% include "navbar_hard.html" %}{% endblock %}
{% block onload %}onload="loadCustomSelect()"{% endblock %}
{% block content %}
<div class="contact_hero">
	<img src="{{ url_for('static', filename='images/media/') }}{{ args['mediat']['header'] }}/{{ args['mediat']['content'][0] }}" alt="Boat infront of a beautiful sunset">
	<div class="contact_hero_info">
		<h2 style="text-transform: capitalize;">{{ args['mediat']["header"] }}</h2>
		<div class="info_box">
			<p>Some of our best pictures, and our fondest memories are of beautiful sunsets. Someday we would like to include Sunset Cruises into our "Daycations" so others can enjoy stunning sunsets on the water</p>
		</div>
	</div>
</div>
<div class="content">
	<div class="infobox_cont">
		<div class="infobox">
			<div class="infobox_text">
				<span class="title4">Our Favourites</span>
				<p>So many different colours, and forever changing, depending on the cloud cover. Every sunset is a gift to your eyes.</p>
			</div>
			<div class="infobox_slideshow">
				<div class="polar">
					<img src="{{ url_for('static', filename='images/media/sunsets/6IMG_3184.jpg') }}" alt="Beautiful orange and blue sky on the water">
					<span><i>Frame This</i></span>
				</div>
				<div class="polar">
					<img src="{{ url_for('static', filename='images/media/sunsets/8IMG_3522.jpeg') }}" alt="beautiful sunset reflecting off the water">
					<span><i>Wow!</i></span>
				</div>
				<div class="polar">
					<img src="{{ url_for('static', filename='images/media/sunsets/5IMG_0059.JPG') }}" alt="Orange and purple sunset that is simply breathtaking">
					<span><i>OMG!</i></span>
				</div>
			</div>
		</div>
		<div class="infobox">
			<div class="infobox_text">
				<span class="title4">Can't Forget The Moon!</span>
				<p>As night owls we have caught a few sunrises, as well as magnificent views of the moon, and sometimes we can get them on camera.</p>
			</div>
			<div class="infobox_slideshow">
				<div class="polar">
					<img src="{{ url_for('static', filename='images/media/sunsets/120170710_204244.jpg') }}" alt="Beautiful sunrise on the water">
					<span><i>Night Vibes</i></span>
				</div>
				<div class="polar">
					<img src="{{ url_for('static', filename='images/media/sunsets/moon.jpg') }}" alt="Moon at night over the boat">
					<span><i>Silence</i></span>
				</div>
				<div class="polar">
					<img src="{{ url_for('static', filename='images/media/sunsets/sunset2.jpg') }}" alt="Moon in the distance will the sun sets">
					<span><i>Just Starting</i></span>
				</div>
			</div>
		</div>
	</div>
	<div class="images">
		<div class="imageviewer_cont"><div class="imageviewer"></div><img src="{{ url_for('static', filename='images/icons/x-icons/whitex.png') }}" class="icon_cont invisible"></div>
		<span class="title4">All Images</span>
		<p class="subheading">Check out all of our images below, and if you just can't get enough of the fantastic {{ args['mediat']['header'] }} pictures, follow us on Instagram, Facebook, and subscribe to our Youtube Channel.</p>
		<!--
		<button onclick="rimages()" class="button_white">Images Only</button>
		<button onclick="rgifs()" class="button_white">Gifs Only</button>
		-->
		<div class="image_slides" id="image_slides">
		{% for item in args['mediat']["content"] %}
			<div class="slidebox">
				<img class="trgimg lazys" src="{{ url_for('static', filename='images/fallback.png') }}" data-src="{{ url_for('static', filename='images/media/') }}{{ args['mediat']['header'] }}/{{item}}" onclick="imgfs(this)" id="{{ loop.index }}" alt="{{ args['mediat']['header'] }}">
			</div>
		{% endfor %}
		</div>
		<div class="blownup_nav" onmousemove="hovScroll(event.clientX)" onmouseleave="stopProp()">
			{% for item in args['mediat']["content"] %}
				<img data-src="{{ url_for('static', filename='images/media/') }}{{ args['mediat']['header'] }}/{{item}}" onclick="both(document.getElementById({{loop.index}}))">
			{% endfor %}
		</div>
	</div>
	<div class="video_cont">
	</div>
	<div class="other_videos">
	</div>
</div>
{% endblock %}
