::placeholder {
	color: #122449;
}

body {
	height: 100%;
	overflow: hidden;
}

.content h2 {
	text-align: center;
}

.content h2 {
	color: #122449;
}

.content .subheading {
	width: calc(100% - 32vw);
	text-align: center;
	margin: 0vw auto;
}

.booking .subheading {
	width: calc(100% - 4vmax);
}

.booking .button_white {
	margin-top: 2vmax;
}

.content .select_items {
	margin-top: 2px;
	border: 2px solid #122449;
	border-radius: 10px;
}

.content .select_items div:nth-child(1) {
	border-radius: 10px 10px 0 0;
}

.content .select_items div:nth-child(even) {
	background: #EEEEEE;
}

.content .select_selected, .content .select_items div {
	margin: 0vw;
	width: 100%;
	background: #FFF;
	color: #122449;
}

.content .select_selected {
	margin: 1vmax 0vw 0vw 0vw;
	font-size: 1.2vmax;
	justify-content: flex-start;
	padding: 1vmax 0vw 1vmax 0.6vmax;
	height: 1.2vmax;
	width: calc(100% - 1vmax);
	border: 2px solid #122449;
}

.content .select_selected:after {
	border-color: #122449 transparent transparent transparent;
	right: 3%;
}

.content .select_arrow_active:after {
	border-color: transparent transparent #122449 transparent;
}

.booking button {
}

.linput {
	margin: 1vmax 0vw;
	padding: 0.6vmax 1vmax;
	font-size: 1.2vmax;
	width: calc(100% - 2vmax - 4px);
	border-radius: 10px;
	outline: none;
	border: 2px solid #122449;
}

.booking {
	display: block;
	border-radius: 5px;
	margin: 4vw auto;
	width: 60%;
	padding: 1vw 2vw;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	background: #FFF;
	z-index: 2;
}

.booking .title4, .booking .title5, .booking .title6 {
	margin: 2vw 0vw;
	color: #122449;
	text-align: center;
}

.booking label {
	font-size: 2vmax;
	color: #122449;
}

.book_select {
	display: flex;
	width: 100%;
}

.bs_indiv {
	width: 33%;
	margin-left: 13.5%;
	margin-bottom: 4vw;
}

.bs_indiv span {
	height: 2vmax;
	width: 2vmax;
	border-radius: 50%;
	display: block;
	border: 0.4vw solid #122449;
	background: #FFF;
	position: relative;
	z-index: 2;
}

.bs_indiv p {
	color: #122449;
	font-size: 2vmax;
	margin-left: -1.5vmax;
}

.bs_indiv:nth-last-child(1n+2) span::before {
	position: absolute;
	z-index: -1;
	content: '';
	top: 50%;
	left: 2.1vmax;
	height: 0.4vmax;
	width: 18vw;
	background: #122449;
}

.confirm_book p, .confirm_contact p {
	text-align: center;
	font-size: 1.4vmax;
}

.confirm_book p b, .confirm_contact p b {
	color: #76A1C8;
}
 .confirm_overflow {
	overflow-y: scroll;
	scrollbar-width: none;
	-ms-overflow-style: none;
}
.confirm_overflow::-webkit-scrollbar {
	width: 0;
	height: 0;
}
