body {
	height: 100%;
	overflow: hidden;
}

.daycations_title {
	margin-top: 1vw;
	width: 100%;
	text-align: center;
	margin-bottom: 4vw;
}

.daycations_title .title1 {
	margin: 5vmax 0;
	color: #122449;
}

.title4 {
	text-align: revert;
}

.pop_cont .title5 {
	color: #76A1C8;
}

.subheading {
	color: #000;
	margin: 0.4vw 14vw;
}

.hero {
	height: 100vh;
	position: relative;
	text-align: center;
	background: #122449;
}

.hero img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	filter: opacity(0.4) grayscale(1);
}

.hero video {
	object-fit: cover;
}

.hero_text {
	margin-top: 4vw;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	width: 80%;
}

.hero_text h1 {
	width: 100%;
	margin-bottom: 2vw;
	color: #FFF;
	font-size: 6vmax;
}

.hero_text p {
	font-size: 1.8vmax;
	color: #FFF;
}

.hero_text img {
	filter: opacity(1);
	margin-top: 2vw;
	height: 5vmax;
	width: 5vmax;
	cursor: pointer;
}

.hero_text img:hover {
	transform: scale(1.1);
}


.daycations_shapes {

}

.daycations_shapes .shapeflex:nth-child(even) {
	flex-direction: row-reverse;
}

.daycations_shapes .shapeflex:nth-child(even) > .shapeflex_text  {
	text-align: right;
}

.shapeflex {
	display: flex;
	flex-wrap: wrap;
	width: calc(100% - 8vw);
	min-height: 40vmax;
	margin: 0vw 4vw;
	justify-content: center;
	margin-bottom: 2vw;
}

.shapeflex_text {
	padding-top: 1vw;
	flex-wrap: wrap;
	width: 40%;
}

.title2 {
	font-weight: bold;
	width: 100%;
	font-size: 3vw;
	color: #122449;
}

.shapeflex_text p {
	margin: 2vw 0vw;
}

.shapeflex_shape {
	width: 40%;
	position: relative;
}

.shapeflex_shape img {
	position: absolute;
	height: 30vw;
	width: 30vw;
	object-fit: cover;
	z-index: 1;
	left: 4vw;
}

.shapeflex_shape .clip {
	z-index: 2;
}

.daycation_breakdowns {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	justify-content: center;
	align-items: center;
}

.daycation_breakdown {
	cursor: pointer;
	text-align: center;
	width: 100%;
	margin: 2vw 4vw;
}

.daycation_features_imgs {
	position: relative;
	height: 15vw;
	width: 100%;
	border-radius: 10px;
	border: 4px solid #122449;
	background: #122449;
}

.daycation_features_imgs img{
	height: 100%;
	width: 100%;
	object-fit: cover;
	filter: opacity(0.2) grayscale(1);
}

.daycation_breakdown:hover > .daycation_features_imgs img {
	filter: opacity(0.6) grayscale(0.4);
}

.daycation_features_text {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #122449;
	font-size: 2vw;
	text-shadow: 
	-1px -1px 0 #FFF,
	 1px -1px 0 #FFF,
	 -1px 1px 0 #FFF,
	  1px 1px 0 #FFF;
}

.lifestyle {
	margin-top: 12vw;
	display: flex;
	width: 100%;
}

.lifestyle_cont {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	width: 60%;
}

.lifestyle_others {
	width: 40%;
}

.lifestyle_other {
	background: #122449;
	border-radius: 5px;
	padding: 1vw;
	display: flex;
	cursor: pointer;
}

.lifestyle_other img {
	border-radius: 5px;
	width: 4vw;
	height: 4vw;
	object-fit: cover;
	margin: 1vw;
}

.iframe_cont {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.iframe_cont iframe {
	border-radius: 20px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.lrg_radio {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
}

.lrg_button {
	display: inline-block;
	background: #122449;
	width: 2vw;
	height: 2vw;
	border-radius: 50%;
}
.pop_box {
	width: calc(100% - 8vw);
	margin: 0vw 4vw;
	text-align: center;
}

.pop_cont {
	margin-top: 2vw;
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	justify-content: center;
	align-items: center;
}

.pop_box h2 {
	color: #122449;
	font-size: 3vw;
}

.pop_cont:nth-child(even) {
	flex-direction: row-reverse;
}

.pop_cont_text {
	width: 60%;
	text-align: center;
}

.pop_cont_text h1 {
	font-size: 3vw;
	color: #122449;
	margin-top: 0.4vw;
	padding: 0.4vw;
}

.pop_cont_text p {
	font-size: 1.4vmax;
	color: #000;
	padding: 0.4vw;
	margin: 1.4vw 4vw 2.4vw 4vw;
}

.pop_cont_slideshow {
	width: 40%;
	height: 80%;
	position: relative;
}

.pop_cont_imgs img {
	width: 100%;
}

.other_ammen {
	display: flex;
	flex-wrap: wrap;
	width: calc(100% - 8vw);
	margin: 0vw 4vw;
	background: #122449;
	border-radius: 10px;
}

.other_ammen h2{
	width: 100%;
	text-align: center;
	color: #76A1C8;
	font-size: 2.4vw;
}

.ammen {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1.6vw;
}

.ammen img {
	width: 4vw;
	height: 4vw;
}
/* Tablet */
@media screen and (min-width:769px) and (max-width: 1024px) {
	.daycations_title h1 {
		font-size: 5vw !important;	
	}
	.daycations_title p {
		font-size: 2vw !important;
	}
	.shapeflex_text h4 {
		font-size: 3.5vw !important;	
	}
	.shapeflex_text p {
		font-size: 1.7vw !important;
		margin: 1vw 0vw !important;
	}
	.pop_box h2 {
		font-size: 5vw !important;	
	}
	.pop_box p {
		font-size: 2vw !important;
	}
	.pop_cont_text h1 {
		font-size: 3.5vw !important;
	}
	.pop_cont_text p {
		font-size: 1.7vw !important;
	}
}
/* Mobile */
@media screen and (min-width:214px) and (max-width: 768px) {
	.hero_text h2 {
		font-size: 5vw;
	}
	.daycations_title h1 {
		font-size: 5vw;	
	}
	.daycations_title p {
		font-size: 2vw;
	}
	.shapeflex_text h4 {
		font-size: 3.5vw;	
	}
	.shapeflex_text p {
		margin: 1vw 0vw;
	}
	.pop_box {
		padding: 2vw 0vw;
	}
	.pop_box h2 {
		font-size: 5vw;	
	}
	.pop_cont_text h1 {
		font-size: 3.5vw;
	}
	.shapeflex:nth-child(1n+2) {
		margin-top: 35vw;
	}
	.shapeflex_shape img {
		height: 35vw;
		width: 35vw;
	}
	.shapeflex_text {
		width: 70%;
		margin-top: 35vw;
	}
	.daycations_shapes {
		margin-bottom: 35vw;
	}
	.shapeflex_text {
		text-align: center;
	}
	.daycations_shapes .shapeflex:nth-child(even) > .shapeflex_text  {
		text-align: center;
	}
}
