@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

/* General */

* {
	font-family: 'Oswald', sans-serif;
}

a {
	text-decoration: none;
}

body {
	color: #BAB1BA;
	font-size: 1vw;
}

.content {
	margin: 0vw 0vw;
}

.mini_content {
	margin: 0vw 6vw;
}

.hero {
	height: 100vh;
	position: relative;
	text-align: center;
	background: #122449;
}

.hero_text {
	margin-top: 4vw;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	width: 80%;
}

.hero_text h1 {
	font-size: 8vmax;
	width: 100%;
	margin-bottom: 2vmax;
	color: #FFF;
}

.hero_text p {
	font-size: 2.6vmax;
	color: #FFF;
}

.hero_text img {
	filter: opacity(1);
	height: 5vw;
	width: 5vw;
	cursor: pointer;
	margin-top: 2vw;
}

.hero_text img:hover {
	transform: scale(1.1);
}


.innerLink {
	color: #76A1C8;
	text-transform: capitalize;
}

#mapid {
	height: 41vw;
	width: 100%;
	z-index: 1;
}

.leaflet-popup-content {
	text-align: center;
}

.uc {
	position: absolute;
	z-index: 3;
	width: 50%;
	object-fit: cover;
	top: 55%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: #333;
	color: #FFF;
	text-align: center;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	border-radius: 20px;
}

.uc img {
	width: 100%;
}

.uc .exclame {
	margin: 1vw;
	width: 8vw;
	height: 8vw;
}

.uc span {
	display: block;
	font-size: 2vmax;
	margin: 1vw;
	font-weight: bold;
}

.uc p {
	font-size: 1.4vmax;
	margin: 2vw;
}

.uc button {
	font-size: 1.4vmax;
}

.mini_title {
	display: block;
	font-size: 2.5vmax;
	color: #76A1C8;
	text-align: center;
}

.title1 {
	text-align: center;
	color: #122449;
	width: 100%;
	font-weight: bold;
	display: block;
	font-size: 5vmax;
}

.title4 {
	text-align: center;
	font-weight: bold;
	display: block;
	font-size: 4vmax;
	color: #122449;
}

.title5 {
	font-weight: bold;
	display: block;
	font-size: 2.5vmax;
}

.title6 {
	font-weight: bold;
	display: block;
	font-size: 1.2vmax;
}

.contact_hero {
	width: 100%;
	height: 100vh;
	background: #122449;
	position: relative;
	margin-bottom: 2vw;
}

.contact_hero img {
	width: 100%;
	height: 100%;;
	object-fit: cover;
	filter: grayscale(1) opacity(0.4);
}

.contact_hero_info {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 80%;
	padding-top: 5vw;
	transform: translate(-50%, -50%);
	text-align: center;
	display: flex;
	flex-wrap: wrap;
	color: #FFF
}

.contact_hero_info h2 {
	font-size: 6vmax;
	width: 100%;
	margin-bottom: 0vw;
}

.contact_hero_info p {
	margin-top: 2vw;
	width: 100%;
	font-size: 1.8vmax;
}

.info_box {
	display: flex;
	width: 100%;
}

.nonactive, .invisible {
	display: none !important;
}

.subheading {
	color: #000;
	font-size: 2vmax;
}

.sitemap_hor {
	margin: 2vw 4vw;
}

.sitemap_hor a, .sitemap_hor p {
	text-transform: capitalize;
	color: #122449;
	font-size: 1.4vw;
}

.button {
	text-transform: capitalize;
	margin: 1vw;
	padding: 1vw 2vw;
	width: calc(20% - 4vw);
	background: #122449;
	color: #FFF;
	border-radius: 10px;
	cursor: pointer;
	border: none;
}

.button:hover {
	transform: scale(1.025);
}

.button_blue {
	font-size: 1.2vmax;
	margin: 0.4vw;
	padding: 0.4vw 2vmax;
	background: #76A1C8;
	color: #FFF;
	border: 2px solid #FFF;
	border-radius: 15px;
	cursor: pointer;
}

.button_blue:hover {
	color: #76A1C8;
	background: #FFF;
	border: 2px solid #FFF;
}

.button_navy {
	font-size: 1.2vmax;
	margin: 0.4vw;
	padding: 0.4vw 2vmax;
	background: #122449;
	color: #FFF;
	border: 2px solid #FFF;
	border-radius: 15px;
	cursor: pointer;
}

.button_navy:hover {
	color: #122449;
	background: #FFF;
	border: 2px solid #FFF;
}

.button_black {
	font-size: 1.2vmax;
	margin: 0.4vw;
	padding: 0.4vmax 2vmax;
	background: #000;
	color: #FFF;
	border: 2px solid #FFF;
	border-radius: 15px;
	cursor: pointer;
}

.button_black:hover {
	color: #000;
	background: #FFF;
	border: 2px solid #FFF;
}

.button_white {
	font-size: 1.2vmax;
	margin: 0.4vmax;
	padding: 0.4vmax 2vmax;
	background: #fff;
	color: #76a1c8;
	border: 2px solid #76a1c8;
	border-radius: 15px;
	cursor: pointer;
}

.button_white:hover {
	color: #fff;
	background: #76a1c8;
}

.radio_button {
        width: 1vw;
        height: 1vw;
        background: #FFF;
        border: 2px solid #122449;
        border-radius: 50%;
        display: inline-block;
        cursor: pointer;        
}

.radio_button:hover {
        transform: scale(1.1);
}

.radio_active {
        background: #122449;
}

.polar_box {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
}

.polar {
        cursor: pointer;
        display: flex;
        flex-wrap: wrap;
        margin: 1vw 1vw;
        width: calc(33% - 2vw);
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.6);
	background: #FFF;
}

.polar:hover {
        transform: scale(1.05);
        z-index: 2;
        animation: shake 0.9s forwards;
}

.polar img {
        border: 1.5vw solid #FFF;
        height: 30vw;
        width: calc(100% - 3vw);
        object-fit: cover;
}

.polar span {
        background: #FFF;
        width: 100%;
        text-align: center;
        padding: 0vw 0vw 2vw 0vw;
}

.polar span i {
        letter-spacing: 3px;
        text-transform: capitalize;
        font-size: 2.2vw;
        color: #122449;
        font-style: normal;
        font-family: 'Pacifico', sans-serif;
}

.pop_flexbox {
        width: calc(100% - 8vw);
        margin: 0vw 4vw;
}

.pop_cont {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
	margin: 6vmax 0;
}

.pop_cont:nth-child(even) {
        flex-direction: row-reverse;
}

.pop_cont_text {
        width: 60%;
        text-align: center;
}

.pop_cont_text h2 {
        font-size: 3vw;
        color: #76A1C8;
        padding: 0.4vw;
        color: #122449;
}

.pop_cont_text p {
        font-size: 1.3vw;
        color: #000;
        padding: 0.4vw;
        margin: 1.4vw 4vw 2.4vw 4vw;
}

.pop_cont_slideshow {
        width: 40%;
        position: relative;
}

.pop_cont_imgs {
}

.pop_cont_imgs img {
        width: 100%;
        height: 35vw;
	object-fit: cover;
	object-position: top;
	border-radius: 10px;
}

.pop_cont_radio_cont {
        position: absolute;
        bottom: 5px;
}

.image_slides {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 2vw;
	background: #EEE;
	border-radius: 5px;
	box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,0.2);
}

.image_slides .targimg {
	width: 100%;
	height: 100%;
	object-fit: cover;
	cursor: pointer;
}

.slidebox {
	margin: 0.5%;
	width: 32%;
	height: 30vw;
}

.blownup {
	position: fixed;
	height: 100%;
	width: 100%;
	z-index: 4;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	text-align: center;
}

.blownup img {
	cursor: default;
	transform: scale(1) !important;
}

.blownup p {
	text-align: center;
}

.icon_cont {
	height: 2vmax;
	width: 2vmax;
	border: none;
	position: absolute;
	top: 15.5%;
	right: 15.5%;
	cursor: pointer !important;
	filter: brightness(0);
}

.imageviewer_cont {
	display: none;
	position: fixed;
	inset: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.6);
	z-index: 99;
}
.imageviewer {
	position: relative;
	width: 100%;
	height: 100%;
}
.imageviewer_cont .imgv {
	position: absolute;
	width: 75%;
	height: 75%;
	object-fit: cover;
	inset: 0;
	margin: auto;
}

.blownup_nav {
	position: absolute;
	bottom: 12.5%;
	left: 50%;
	transform: translate(-50%, 0);
	display: block;
	width: 75%;
	overflow: scroll;
	display: none;
	margin: 0 auto;
	white-space: nowrap;
	font-size: 0;
	-ms-overflow-style: none;
	scrollbar-width: none;
}

.blownup_nav::-webkit-scrollbar {
	display: none;
}

.blownup_nav img {
	display: inline-block;
	width: 13vmax;
	height: 6vmax;
	object-fit: cover;
	cursor: pointer;
	filter: brightness(0.4);
}

.blownup_nav img:hover {
	filter: brightness(1);
}

.nav_active {
	filter: brightness(1) !important;
}


.fishies {
	z-index: -1;
	position: absolute;
	width: 100%;
	filter: blur(2px) opacity(0.8);
}

.fade-in {
	animation-name: fade-in;
	animation-duration: 1.5s;
	animation-timing-function: ease-in;
	animation-fill-mode: forwards;
}

@keyframes fade-in{
	0% {opacity: 0;}
	100% {opacity: 1;}
}

/*
.slide {
        position: absolute;
        right: -100vw;
        -webkit-animation: slide 0.7s forwards;
        -webkit-animation-delay: 0.4s;
        animation: slide 0.7s forwards;
        animation-delay: 0.4s;
}

@-webkit-keyframes slide {
        100% { right: 0;}
}

@keyframes slide {
        100% { right: 0;}
}

.slide-l {
        position: absolute;
        left: -100vw;
        -webkit-animation: slide 0.7s forwards;
        -webkit-animation-delay: 0.4s;
        animation: slide-l 0.7s forwards;
        animation-delay: 0.4s;
}

@-webkit-keyframes slide-l {
        100% { left: 0;}
}

@keyframes slide-l {
        100% { left: 0;}
}
*/

/* Navbar */

* {
	margin: 0;
}

.bb {
	display: none;
}

a {
	text-decoration: none;
	color: #FFF;
}

.navbar svg {
	height: 15vw;
	padding-right: 0.8vw;
}
.navbar form {
	display: flex;
	height: 100%;
	align-items: center;
}
.navbar ::placeholder, .navbar input[type="number"], .navbar input[type="date"], .navbar input[type="text"] {
	text-align: center;
	font-size: 0.8vw;
}
.navbar {
	position: absolute;
	top: 0;
	z-index: 4;
	color: white;
	text-align: center;
	background-color: rgba(18,36,73,0.8);
	width: 100%;
}
.navbar_top {
	display: flex;
	width: 100%;
	align-items: center;
	height: 6vw;
	z-index: 4;
}

.navbar_top .navbar_title {
	width: calc(40% - 15vw);
	margin-right: 20%;
	text-align: left;
	padding-left: 4vw;
	font-size: 1.8vw;
	display: flex;
	align-items: center;
}

.navbar_top .navbar_title h2 {
	display: flex;
	align-items: center;
	font-weight: normal;
	white-space: nowrap;
}

.navbar_top .anc {
	text-decoration: none;
	color: #FFF;
	margin: 0vw 1vw;
	font-size: 1.4vw;
	white-space: nowrap;
}

.navbar_top .anc:hover {
	transform: scale(1.1);
	color: #bab1ba;
	color: #76A1C8;
}

.navbar_top .anc:last-child {
	margin-right: 7.8vw;
}

.navbar_bottom {
	background: #FFF;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	display: flex;
	height: 4vw;
	color: 000;
	align-items: center;
	justify-content: left;
	padding-left: 3vw;
	z-index: 3;
	display: none;
}

.navbar_bottom input[type="date"], .navbar_bottom input[type="number"], .navbar_bottom input[type="text"]{
	border-radius: 10px;
	border: 1px solid #000;
	height: 2.5vw;
	width: 14vw;
	margin: 0vw 1vw;
	cursor: pointer;
}

.navbar_bottom input[type="submit"] {
	font-size: 0.8vw;
	width: 8vw;
	height: 2.5vw;
	margin: 0 1vw;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0;
}

.sticky {
	position: fixed;
	top: 0;
	width: 100%;
}

.custom_select {
	position: relative;
}

.custom_select select {
	display: none;
}

.custom_select_imgs select {
	display: none;
}

.custom_select_imgs {
	position: relative;
}

.select_selected {
	background: #122449;
}

.select_selected:after {
	position: absolute;
	content:"";
	top: 45%;
	right: 15%;
	width: 0;
	height: 0;
	border: 0.4vmax solid transparent;
	border-color: #FFF transparent transparent transparent;
}

.select_selected.select_arrow_active:after {
	border-color: transparent transparent #FFF transparent;
	top: 7px;
}

.select_selected {
	margin: 0vw 1vw;
	background: #122449;
	color: #FFF;
	border-radius: 10px;
	cursor: pointer;
	height: 2.5vw;
	width: 14vw;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 0.8vw;
	white-space: nowrap;
}

.select_items div{
	margin: 0vw 1vw;
	background: #122449;
	color: #FFF;
	cursor: pointer;
	font-size: 1.4vmax;
	height: 2.5vmax;
	width: 14vw;
	display: flex;
	align-items: center;
	justify-content: center;
}

.select_items div:last-child {
	border-radius: 0px 0px 10px 10px;
}

.select_items {
	position: absolute;
	top: 90%;
	left: 0;
	right: 0;
	z-index: 99;
}

.select_imgs_selected {
	background: #122449;
}

.select_imgs_selected:after {
	position: absolute;
	content:"";
	top: 45%;
	right: 15%;
	width: 0;
	height: 0;
	border: 0.4vw solid transparent;
	border-color: #FFF transparent transparent transparent;
}

.select_imgs_selected.select_arrow_active:after {
	border-color: transparent transparent #FFF transparent;
	top: 7px;
}

.select_imgs_selected {
	margin: 0vw 1vw;
	background: #122449;
	color: #FFF;
	border-radius: 10px;
	cursor: pointer;
	height: 2.5vw;
	width: 14vw;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 0.8vw;
	white-space: nowrap;
}

.select_imgs_items div{
	margin: 0vw 1vw;
	background: #122449;
	color: #FFF;
	cursor: pointer;
	height: 2.5vw;
	width: 14vw;
	display: flex;
	align-items: center;
	justify-content: center;
}

.select_imgs_items div:last-child {
	border-radius: 0px 0px 10px 10px;
}

.select_imgs_items {
	position: absolute;
	top: 90%;
	left: 0;
	right: 0;
	z-index: 99;
}

.select_hide {
	display: none;
}
.availability {
	display: flex;
	align-items: center;
	justify-content: center;
	white-space: nowrap;
	font-size: 0.8vw;
	background: #eee;
	border-radius: 10px;
	height: 2.5vw;
	width: 14vw;
	margin: 0vw 1vw; 
	box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,0.2);
}
#availability_inner {
	color: #d17777;
}
.weather {
	display: none;
}
.weather img {
	display: none;
}
.weather_applet {
	position: fixed;
	bottom: 0;
	right: 0;       
	padding: 0.4vmax;
	background: rgba(18,36,73,0.8);
	border: 0.3vmax solid #FFF;
	border-radius: 10px 0 0 10px;
	z-index: 98;
	color: #FFF;
}

.weather_applet div {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

.weather_applet div img {
	width: 4vmax;
	height: auto;
}

.weather_applet div .watemp {
	font-size: 2vmax;
}

.weather_applet div .walocation {
	width: 100%;
}

.chngclr {
	background: rgba(18, 36, 73, 0.95);
}
@media screen and (min-width: 214px) and (max-width: 1024px) {
	.weather_applet {
		display: none;
	}
	.navbar_bottom {
		display: none !important;
	}
	.hamburg_cont {
		display: inline-block;
		cursor: pointer;
		position: relative;
	}
	.bar1, .bar2, .bar3 {
		border-radius: 5px;
		width: 2vmax;
		height: 0.2vmax;
		background-color: #fff;
		margin: 0.65vw 0;
		transition: 0.4s;
	}
	.change .bar1 {
		-webkit-transform: rotate(-45deg) translate(-1vw, 0.6vw);
		transform: rotate(45deg);
		position: absolute;
		top: 0;
	}
	.change .bar2 {
		opacity: 0;
	}
	.change .bar3 {
		-webkit-transform: rotate(45deg) translate(-1vw, -1vw);
		transform: rotate(-45deg);
		position: absolute;
		bottom: 0;
	}
	.weather {
		display: flex;
		align-items: center;
	}
	.weather img {
		display: initial !important;
		height: 3vw;
		width: 6vw;
		object-fit: cover;
	}
	.weather span {
		font-size: 3vw;
	}
	.navbar_top {
		position: relative;
		justify-content: center;
		height: 14vw !important;
	}
	.navbar_title {
		text-align: center !important;
		padding: 0 !important;
		width: 45% !important;
		margin: 0vw 13.5%;
	}
	.navbar_title img {
		height: 10.5vw !important;
	}
	.navbar_title h2 {
		justify-content: center;
		width: 100%;
		font-size: 4vw;
	}
	.anc_cont {
		width: 100%;
		height: calc(100vh - 64vw);
		position: absolute;
		top: 14vw;
		background: rgba(18, 36, 73, 0.95);
		text-align: center;
		padding: 25vw 0;
	} 
	.navbar_top .anc {
		width: 100%;
		font-size: 4vw;
		color: #FFF !important;
		/*
		-moz-box-shadow: 0px 8px 16px  0px rgba(0, 0, 0, 0.2);
		-webkit-box-shadow: 0px 8px 16px  0px rgba(0, 0, 0, 0.2);
		box-shadow: 0px 8px 16px  0px rgba(0, 0, 0, 0.2);
		*/
		display: block;
		margin: 0 !important;
	}
	.bb {
		border-bottom: 2px solid #FFF;
		width: 50%;
		margin: 2vw auto;
		display: block !important;
	}
}
@media screen and (max-width:1024px) {
	.anc_cont_mobi_rel {
		position: relative;
		width: 100%;
		height: 100%;
	}
	.anc_cont_mobi_abs {
		position: absolute;
		width: 100%;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
	}
}
@media screen and (min-width:1025px) {
	.anc_cont {
		display: initial !important;
	}
}

/* Footer */

* {
	margin: 0;
}

.footer {
	margin-top: 5vw;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: #122449;
	padding: 1.4vw 0vw;
}

.footer li {
	font-size: 1.4vw;
}

.footer .innerList li a{
	font-size: 1.2vw;
	color: #BAB1BA;
}

.footer a {
	text-decoration: none;
	color: #76A1C8;
}

.footer ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.footer_top {
	display: flex;
	width: calc(100% - 8vw);
	margin: 2vw 4vw;
}

.footer .nav {
	
}

.footer .nav .title4, .footer .rel .title4 {
	font-size: 2.6vw;
	color: #FFF;
	display: block;
	margin: 2vw 0vw;
	white-space: nowrap;
}

.footer .logo_cont {
}

.footer .logo_cont svg {
	height: 10vw;
	display: block;
	margin: 0 auto;
}

.footer .rel {
	margin: 0vw 5vw;
}

.footer .social {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
}

.footer .social img, .footer .social svg {
	width: auto;
	height: 2vw;
	padding: 0.4vw 1vw;
}

.footer .innerList {
	margin-left: 0.8vw;
}

.footer .innerList li:nth-child(odd) {
}

.footer .poweredby {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	width: 100%;
	margin-top: 1vw;
}

.footer .poweredby h6 {
	text-align: center;
	width: 100%;
}

.footer .poweredby img {
	width: auto;
	height: 1.4vw;
	padding: 0.4vw 1vw;
}

.footer .tri {
	display: none;
}

/* Footer-Tablet */
@media screen and (min-width:769px) and (max-width: 1024px) {

}
/* Footer-Mobile */
@media screen and (min-width:214px) and (max-width: 768px) {
	.footer_top {
		flex-wrap: wrap;
		width: 50%;
		margin: 2vw auto;
	}
	.footer .nav .title4, .footer .rel .title4 {
		font-size: 6vw;
		border-bottom: 2px solid #FFF;
		display: flex;
		align-items: center;
		margin: 2vw auto;
		position: relative;
		cursor: pointer;
	}
	.footer .nav .title4 .tri, .footer .rel .title4 .tri {
		display: initial;
		content: "";
		cursor: pointer;
		width: 0;
		height: 0;
		border: 1.4vw solid transparent;
		margin: 2.5vw 0.4vw 0vw 1.4vw;
		border-color: #FFF transparent transparent transparent;
		position: absolute;
		right: 0;
	}
	.footer .rel, .footer .nav {
		width: 100%;
		margin: 2vw 0vw;
	}
	.footer ul {
		margin-left: 0.4vw;
	}
	.footer li a {
		font-size: 4vw;
	}
	.footer .innerList li a {
		font-size: 3.4vw;
	}
	.footer .logo_cont svg {
		height: 25vw;
	}
	.footer .social svg {
		height: 5vw;
	}
	.footer .poweredby {
		font-size: 3vw;
	}
}

@keyframes morph {
        0% {border-radius: 40% 60% 60% 40% / 60% 30% 70% 40%;}
        50% {border-radius: 20% 35% 90% 20% / 50% 25% 70% 20%;}
        100% {border-radius: 40% 60%;}
}

@keyframes shake {
	0% {transform: rotate(0deg);}
	33% {transform: rotate(6deg);}
	66%{transform: rotate(-8deg);}
	100%{transform: rotate(-0deg);}
}

@-webkit-keyframes shake {
	0% {transform: rotate(0deg);}
	33% {transform: rotate(45deg);}
	66%{transform: rotate(-45deg);}
	100%{transform: rotate(-0deg);}
}
	/* Mobile */
@media screen and (min-width: 214px) and (max-width: 768px) {
	.mobonly {
		display: none;
	}
	.title4 {
		font-size: 4vmax;
	}
	.title5 {
		font-size: 2.8vmax;
	}
	.title6 {
		font-size: 2.6vmax;
	}
	/* Request A Quote */
	/* Gallery */
	.our_images button {
		width: 20vw !important;
	}
	.button_white, .button_blue, .button_navy, .button_black {
		font-size: 1.6vmax;
	}
	/* Media */
	.polar_box {
		justify-content: center;
	}
	.polar {
		width: 40%;
		margin: 4vw 1vw;
		padding: 1vw;
	}
	.polar span i {
		font-size: 5vw;
		letter-spacing: 0.4vw;
	}
	.slidebox {
		width: 49%;
		height: 40vw;
	}
}
	/* Ultra-Wide */
@media screen and (max-width: 3220px) {
	
}
