.hero video {
	object-fit: cover;
}

.hero_text h2 {
	font-size: 6vmax;
	width: 100%;
	margin-bottom: 2vmax;
	color: #FFF;
}

.hero_text p {
	margin-bottom: 7vw; /* This line is here to replace the height of the arrows image that is here on the homepage */
}

.content {
	margin: 0vw 4vw;
}

.content .title4 {
	margin: 2vmax 0;
}

.content p {
	text-align: center;
	width: 75%;
	margin: 0 auto;
	margin-bottom: 2vw;
}

.our_images {
}

.our_images p {
	width: 100%;
}

.our_images .btngroup {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 2vw 0vw;
}

.our_images button {
	width: 10vw;
}

.nav_active {
	filter: brightness(1) !important;
}

.image_slides {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.polar_box {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}

.polar {
	cursor: pointer;
	display: flex;
	flex-wrap: wrap;
	margin: 1vw 1vw;
	width: calc(33% - 2vw);
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.6);
}

.polar:hover {
	transform: scale(1.05);
	z-index: 2;
	animation: shake 0.9s forwards;
}

.polar img {
	border: 1.5vw solid #FFF;
	height: 30vw;
	width: calc(100% - 3vw);
	object-fit: cover;
}

.polar span {
	background: #FFF;
	width: 100%;
	text-align: center;
	padding: 0vw 0vw 2vw 0vw;
}

.polar span i {
	letter-spacing: 3px;
	text-transform: capitalize;
	font-size: 3vmax;
	color: #122449;
	font-style: normal;
	font-family: 'Pacifico', sans-serif;
}

.slidebox {
	margin: 0.5%;
	width: 32%;
	height: 30vw;
	background: #76A1C8;
	border-radius: 5px;
}

.slidebox img {
	font-size: 0vw;
	color: #FFF;
	text-transform: uppercase;
}

.image_slides .trgimg {
	width: 100%;
	height: 100%;
	object-fit: cover;
	cursor: pointer;
	display: block;
	margin: 0 auto;
}

.image_slides img:hover {
	transform: scale(1.05);
}

/* Tablet */
@media screen and (min-width:769px) and (max-width: 1024px) {
	.slidebox {
		width: 49%;
		height: 40vw;
	}
	.contact_hero_info h2 {
		font-size: 8vw !important;
	}
	.info_box p {
		font-size: 2vw !important;
	}
	.content h1 {
		font-size: 8vw !important;
	}
	.content p {
		font-size: 3vw !important;
	}
	.polar span i {
		font-size: 5vw !important;
	}
	.our_images button {
		width: 20vw !important;
	}
	.button_white {
		font-size: 2vw !important;
	}
}
/* Mobile */
@media screen and (min-width:214px) and (max-width: 768px) {
	.polar_box {
		justify-content: center;
	}
	.polar {
		width: 40%;
		margin: 4vw 1vw;
		padding: 1vw;
	}
	.polar span i {
		font-size: 5vw;
		letter-spacing: 0.4vw;
	}
	.slidebox {
		width: 49%;
		height: 40vw;
	}
}
