.contact_hero_info {
	text-align: left;
}
.content h1 {
	font-size: 4vw;
	width: 100%;
	text-align: center;
	color: #122449;
}
.content p {
	width: calc(100% - 1.6vw);
	text-align: center;
	margin: 0vw 0.8vw 4vw 0.8vw;
}
.crew_mem {
	margin: 2vw 0vw;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.favs {
	border-radius: 5px;
	background: #122449;
	margin: 0vw 2vw;
	padding: 4vw;
	width: calc(100% - 12vw - 4px);
	text-align: center;
	box-shadow: inset 0 0 6px #666;
}
.favs .title4 {
	color: #FFF;
}
.favs p {
	margin-bottom: 0vw;
	font-size: 2vmax;
}
.favs b {
	font-size: 2vmax;
	color: #76A1C8;
}
.pers {
	border-radius: 5px;
	background: #122449;
	margin: 0vw 2vw;
	padding: 4vw;
	width: calc(50% - 12vw - 4px);
	text-align: center;
	box-shadow: inset 0 0 6px #666;
}
.pers .mimg {
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	background: #122449;
	height: 30vmin;
	width: 30vmin;
	object-fit: cover;
	border-radius: 50%;
}
.pers .title4 {
	color: #FFF;
}
.pers .role {
	color: #76A1C8;
}
.pers p {
	margin: 1vw 0vw;
	font-size: 2vmax;
	color: #BAB1BA;
}
.infotext {
	width: 75%;
	display: flex;
	align-items: center;
	margin: 0 auto;
}
.pers .infotext img {
	width: 4vmax;
}
.pers .infotext p {
	margin: 0 1vmax;
	width: 100%;
	color: #76A1C8;
	height: auto;
}
.experience, .favourites {
	border: 2px solid #122449;
	background: #76a1c8;
	border-radius: 5px;
	box-shadow: inset 0 0 6px #666;
	padding: 1vw;
	text-align: left;
	margin: 2vw;
}
.experience:hover, .favourites:hover {
	background: #fff;
}
.experience h1, .favourites h1 {
	font-size: 3vw;
	color: #122449;
	text-align: center;
}
.experience p, .favourites p {
	font-size: 2vw;
	color: #000;
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
	.pers p {
		height: 50vw;
	}
}

@media screen and (min-width: 214px) and (max-width: 768px) {
	.pers {
		margin: 2vmax 2vw;
		width: calc(80% - 12vw - 4px);
	}
	.favs {
		width: calc(80% - 12vw - 4px);
		margin: 0 auto;
	}
}
