{% extends "temp.html" %}
{% block title %} Send A Message{% endblock %}
{% block description %}Nautical Escapes 2021 Send Us A Message{% endblock %}
{% block css_title %}message{% endblock %}
{% block other_scripts %}
<script src="{{ url_for('static', filename='res/js/sitemap.js') }}"></script>
{% endblock %}
{% block hard_check %}{% include "navbar_hard.html" %}{% endblock %}
{% block onload %}onload="loadCustomSelect()"{% endblock %}
{% block content %}
<div class="contact_hero">
	<img src="{{ url_for('static', filename='images/mini/mail.png') }}" alt="Illustration of mail being sent to and from a mailbox">
	<div class="contact_hero_info">
		<h2>Send Us A Message</h2>
		<div class="info_box">
			<p>Need to get in touch with us for some business related reasons, or even just some easy, simple questions? Well, you've come to the right place. Use the form provided below, to send us an email, and we'll respond back to you as soon as we can. In the event that doesn't work for you, check out our <a href="{{ url_for('main.social') }}" class="innerLink">Social Media Page</a>.</p>
		</div>
	</div>
</div>
<div class="content">
	<img src="{{ url_for('static', filename='images/turtle.gif') }}" class="fishies" alt="Animation of cartoon turtle swimming behind the web-content.">
	<form action="/contact/sendamessage" method="POST">
		<h2>Contact Us</h2>
		<p class="subheading">Please fill out all the fields in the form below to send us a message, and start a converstaion.</p>
		<label for="name">Full Name</label>
		<input type="text" name="fullname" id="name">
		<label for="email">Email Address</label>
		<input type="email" name="email" id="email">
		<label for="message">Your Message</label>
		<textarea name="message" rows="8"style="resize: none;" id="message"></textarea>
		<input type="submit" value="Send" class="button">
	</form>
</div>
{% endblock %}
