{% extends "temp.html" %}
{% block css_title %}ourcrew{% endblock %}
{% block title %}Our Crew{% endblock %}
{% block description %}Our Crew page for NauticalEscapes2021{% endblock %}
{% block other_scripts %}
{% endblock %}
{% block hard_check %}{% include "navbar_hard.html" %}{% endblock %}
{% block onload %}onload="loadCustomSelect()"{% endblock %}
{% block content %}
<div class="contact_hero">
	<img src="/static/images/media/crew/crewhero.jpg" alt="The Crew on the boat coming into port.">
	<div class="contact_hero_info">
		<h2>Our Crew</h2>
		<div class="info_box">
			<p>Do you like what you see, and maybe even want to learn more? Come follow us as we adventure across Canada. You can find photos, videos and more at our various <a href="contact/social" class="innerLink">Social Media</a> pages.</p>
		</div>
	</div>
</div>
<div class="content">
	<span class="title1">Our Experience</span>
	<p class="subheading">Our combined years of experience were in customer service and training, ranging from safety awareness to physical fitness. Our skill sets compliment each other, challenging ourselves everyday to eat well and stay in shape, so we can handle the different challenges that arrive while onboard.</p>
	<div class="crew_mem">
		<div class="pers">
			<img class="mimg" src="{{ url_for('static', filename='images/media/crew/brian.jpg') }}" alt="Headshot of Brian, the Captain">
			<span class="title4">Brian Lymburner</span>
			<span class="role title5">Captain</span>
			<p>Brian has been in and around boats his whole life. Growing up in Port Colbourne he was always around the water. He has his license for boating, safety, radio, and is enthusiastic about retiring on the water and all the adventures that it brings.</p>
			<div class="infotext">
				<img src="{{ url_for('static', filename='images/award.png') }}" alt="Illustration of award ribbon">
				<p>Boating License, CPR-C First-Class</p>
			</div>
		</div>
		<div class="pers">
			<img class="mimg" src="{{ url_for('static', filename="images/media/crew/lynn1.jpg") }}" alt="Headshot of Lynn, The First-Mate">
			<span class="title4">Lynn Lymburner</span>
			<span class="role title5">First Mate</span>
			<p>Lynn has grown up around kayaks and canoes. 5 years ago, she was introduced to power yachts, fell in love and hasn't looked back. Lynn is a certified personal trainer & thai massage therapist. She has obtained her boat & radio licences and looking forward to more certifications in the future.</p>
			<div class="infotext">
				<img src="{{ url_for('static', filename='images/award.png') }}" alt="Illustration of award ribbon">
				<p>Licensed&nbsp;Massage&nbsp;Therapist, CPR-C First-Class</p>
			</div>
		</div>
	</div>
	<div class="favs">
		<span class="title4">Our Favourite Places</span>
		<p><b>Pelee Island, Lake Erie, Canada</b><br>The Island is located at the west end of Lake Erie. It has it all, great anchorages and nice beaches with trails. It even has an LCBO.<br><b>Erieau, Lake Erie, Canada</b><br>What a beautiful part of Ontario. Located between Rondeau Bay and Lake Erie. It has great fishing, a big beach with lots of hiking trails. This small town is full of unique boutiques & restaurants.</p>
	</div>
</div>
{% endblock %}
