<div class="uc">
	<img class="exclame" src="/static/images/exclm.png" alt="Black and yellow constructions sign">
	<span class="title3">UNDER CONSTRUCTION</span>
	<p>This part of the website is still currently under construction! You can still look around but some features will not work until we are ready to implement them.</p>
	<button class="button_black" onclick="this.parentElement.classList.toggle('nonactive'); document.body.style.overflow = 'auto';">Continue</button>
	<img src="/static/images/uc.png" alt="Black and yellow construction tape">
</div>
<script>
document.addEventListener('DOMContentLoaded', () => {console.log(history.scrollRestoration);if('scrollRestoration' in history){history.scrollRestoration = 'manual'; window.scrollTo(0,0);}});
</script>
