<div class="contact_hero">
	<img src="{{ url_for('static', filename='images/hero/laptop.jpg') }}">
	<div class="contact_hero_info">
		<h2>Here's Some Info</h2>
		<div class="info_box">
			<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when it was a blah blah, yeah, yeah yeah. Devlopers since the age of time have struggled to wirte bullshit text as a template for real text that will eb added in later.</p>
		</div>
	</div>
</div>

